::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(168, 158, 158);
  border-radius: 10px;
  transition: all linear 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(121, 116, 116);
}
